### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
GamemasterScrawl/App_Data/login.json
GamemasterScrawl/App_Data/login.json
*.json
*.dll
*.pdb
*.json
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfo.cs
*.cache
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.csproj.FileListAbsolute.txt
*.editorconfig
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.GlobalUsings.g.cs
*.pdb
*.props
/GamemasterScrawl/bin
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfo.cs
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfoInputs.cache
GamemasterScrawl/bin/Debug/net8.0/GamemasterScrawl.pdb
GamemasterScrawl/bin/Debug/net8.0/GamemasterScrawl.staticwebassets.runtime.json
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfo.cs
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfoInputs.cache
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.assets.cache
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.csproj.CoreCompileInputs.cache
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.csproj.FileListAbsolute.txt
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.dll
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.GeneratedMSBuildEditorConfig.editorconfig
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.genruntimeconfig.cache
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.GlobalUsings.g.cs
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.pdb
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.sourcelink.json
GamemasterScrawl/obj/Debug/net8.0/ref/GamemasterScrawl.dll
GamemasterScrawl/obj/Debug/net8.0/refint/GamemasterScrawl.dll
GamemasterScrawl/obj/Debug/net8.0/staticwebassets.build.json
GamemasterScrawl/obj/Debug/net8.0/staticwebassets.development.json
GamemasterScrawl/obj/Debug/net8.0/staticwebassets.pack.json
GamemasterScrawl/obj/Debug/net8.0/staticwebassets/msbuild.GamemasterScrawl.Microsoft.AspNetCore.StaticWebAssets.props
GamemasterScrawl/obj/GamemasterScrawl.csproj.nuget.dgspec.json
GamemasterScrawl/obj/GamemasterScrawl.csproj.nuget.g.props
GamemasterScrawl/obj/project.assets.json
GamemasterScrawl/obj/project.nuget.cache
*.dll
*.pdb
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfo.cs
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.AssemblyInfoInputs.cache
GamemasterScrawl/obj/Debug/net8.0/GamemasterScrawl.dll
*.gz
/GamemasterScrawl/bin
